body {
      font-family: Arial, sans-serif;
      background: #f0f2f5;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .container {
      background: rgb(202, 157, 157);
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      width: 300px;
    }
    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: black;
      
    }
    input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    button {
      width: 50%;
      height: 50%;
      padding: 10px 25px;
      background: #0e79eb;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      margin: 0 auto;
      display: block;
    }
    button:hover {
      background: #116ac4;
    }
    .message {
      text-align: center;
      margin-top: 15px;
      font-weight: bold;
    }
  