.image-card{
    width: 300px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
}

.card-image{
    width: 100%;
    height: auto;
    border-radius: 8px;
}