* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem;
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

#hero {
  background: #799dc2;
  color: lab(100% 0.01 -0.01);
  text-align: center;
  padding: 4rem 2rem;
}

#services {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background: #f4f4f4;
}

.service {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 30%;
  text-align: center;
}

#contact {
  padding: 2rem;
  background: #fff;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 0.5rem 0 0.2rem;
}

form input, form textarea {
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 0.8rem;
  background: #0073e6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background: #005bb5;
}

footer {
  text-align: center;
  padding: 1rem;
  background: grey;
  color: white;
}
footer img{
  justify-content: center;  
  width: 20%;

}
