/* id selector "#" */
#para2{
    background-color: blue;
}
#para3{
    background-color: blanchedalmond;
}
/* class selector "." */
.para4{
 background-color: blueviolet;
}
p,div{
    color: chartreuse;
}
/* universal selector  */

